/*  Will try to keep order of classes consistent with those found in the html files
    TODO: View website on different computers to create a more universal view*/

#Home {
    background: #3AAFA9;
    height: 50%;
}

#info_bar {
    overflow:hidden;
    width: 100%;
    height: 10vh;
}

#title {
    float: left;
    font-weight: bolder;
    margin-left: 5vh;
    margin-top: 15px;
    color: White;
    font-size: 5vh;
    letter-spacing: 6px;
}

.btn-scroll {
    margin-top: 30px;
    margin-right: 0.5vw;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 2vh;
    float: right; 
    color: #17252A; 
    background-color: #3AAFA9; 
    border: none;
    outline: none;
    transition: 0.3s; 
} 

.btn-scroll:hover { 
    color: #FFFFFF; 
    transition: 0.3s; 
} 

#picture {
    text-align: center;
    margin-top: 2vh;
}

#profile_picture {
    height: 30vh;
    border-radius: 50%;
}

#contact {
    text-align: center;
    font-size: 18px;
}

#contact_icon {
    display: inline-block;
    height: 18px;
    width:  18px;
    margin: 3px 10px;
}

#contact_text {
    display: inline-block;
    color: #17252A;
    font-size: 16px;
}

#contact_link {
    text-decoration: none;
    color: #17252A;
    font-size: 15px;
}

#contact_link:hover {
    text-decoration: underline;
}