<div id="Home">
    <div id="info_bar">
            <div id=title>
                Julio Lopez
            </div>

            <button type="button" class="btn btn-scroll" 
            (click)="scroll('Interests')">Interests</button>

            <button type="button" class="btn btn-scroll"
            (click)="scroll('Skills')">Skills</button>

            <button type="button" class="btn btn-scroll"
            (click)="scroll('Projects')">Projects</button>

            <button type="button" class="btn btn-scroll"
            (click)="scroll('About')">About</button>

    </div> 

    <div id="personal_info">
        <div id="picture">
                <img id="profile_picture" src= "./../../assets/images/profilePictureCrop.jpg">
        </div>

        <div id="contact" style="margin: 0 auto;">
                <p id="contact_text" >(719) 291-8357</p>
        </div>

        <div id="contact">
            <img id="contact_icon" src="./../../assets/images/icons8-email-envelope-filled-50.png">
            <p id="contact_text">juliolopezjr45@gmail.com</p>
        </div>

        <div id="contact" style="margin-bottom: 2vh;">
            <img id="contact_icon" src="./../../assets/images/GitHub-Mark-32px.png">
            <a id="contact_link" href="https://github.com/j-lopez">github.com/j-lopez</a>
        </div>

    </div>
</div>

