<div id="About" #About>
    <h1 id="title"> About </h1> <br>
    <div id="details_container">
        <p id="details">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                Hello there, my name is Julio Lopez and I just spent the last 
                five years working towards a degree in Computer Science at CU
                Boulder. Being from Colorado, I enjoy spending my time outdoors, 
                especially hiking and rock climbing. As a senior at University,
                I worked closely with a team of other software engineers on a  
                year long project that inspired me to pursue Software Development
                as a career.
        </p>
    </div>
</div>