#About {
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
}

#title {
    margin-left: 2.5vw;
    color: #3AAFA9; 
    font-weight: bold;
    font-size: 40px;
}

#details {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 18px;
    font-weight: bold;
    color: #17252A;
}

#details_container {
    max-width: 900px;
    text-align: justify;
    margin: auto;
}