#pictureContainer {
    float: left;
    text-align: center;
    width: 45%;
    height: 30vh;
    margin: 2vh 2.5%;
}

#picture {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    border: 1px solid #17252A;
    border-radius: 10px;
}

#smallDescription {
    float: left;
    text-align: justify;
    width: 45%;
    height: 30vh;
    margin: 2vh 2.5%;
}

#projectName {
    color: #3AAFA9; 
    font-weight: bold;
    font-size: 25px;
}

#projectDescShort {
    font-size: 15px;
    color: #17252A;
}

#longDescription {
    width: 80%;
    margin: 0 10%;
}

#description_text {
    text-align: justify;
    font-size: 15px;
    color: #17252A;
}

.btn-read-more {
    width: 90px;
    float: right; 
    color: #17252A; 
    background-color: #FFFFFF; 
    border-color: #17252A;
    border-width: 1px;
    transition: 0.4s; 
} 

.btn-read-more:hover { 
    color: #FFFFFF; 
    background-color: #17252A;
    border-color: #17252A;
    transition: 0.4s; 
} 