<div id="pictureContainer">
    <img id="picture" [src]="project.picture"> 
</div>

<div id="smallDescription"> 
    <p id="projectName">{{ project.name }}</p>
    <br>
    <p id="projectDescShort">&nbsp; &nbsp; &nbsp; {{ project.descriptionShort }}</p> 
    <button type="button" class="btn-sm btn-read-more" (click)="changeLongDescription()" >{{ button }}</button>
</div>

<div [style.display]="showDescription() ? 'inline' : 'none'">
    <div  id="longDescription" *ngFor="let para of project.descriptionLong">
    <div id="description_text" ><br>&nbsp; &nbsp; &nbsp;{{ para }} </div>
</div>