<!--Takes in the info from personalSkills.ts to control view
    This includes fullness, color, and a logo!
    TODO: Figure out a good way to give a small description of languages-->
<div id="Skills">
    <H1>Skills</H1>

    <div id="skillsContainer" *ngFor="let skill of personalSkills">
        <div id="skill">
            <div id="language">{{ skill.language }}</div>
                <div id="frameworks">
                <div id="individualFramework" *ngFor="let frame of skill.frameworks">
                        <p style="width: 80%;">{{ frame.name }}</p>
                        <div class="progress" >
                            <div class="progress-bar" role="progressbar" [style.width]="frame.rating" [style.background-color]="frame.color"></div>
                        </div>
                        <div id="logo">
                            <img [src]="frame.logo" style=" max-width: 100%; max-height: 100%; object-fit: contain;">
                        </div>
            </div>
        </div>

    </div>
</div>