#Projects {
    margin: 5vh 10%;
    /* border: 1px solid black; */
    overflow: hidden;
}

#title {
    margin-left: 2.5vw;
    color: #3AAFA9; 
    font-weight: bold;
    font-size: 40px;
}

#project_container {
    text-align: center;
    margin: auto;
    max-width: 900px;
}

#individual {
    display: inline-block;
    overflow: hidden;

}

#sample_width {
    text-align: center;
    background: lightseagreen;
    max-width: 900px;
}