#Projects {
    margin: 5vh 10%;
    /* border: 1px solid black; */
    overflow: hidden;
}

#end {
    text-align: center;
    font-weight: bold;
    color: #3AAFA9;
    font-size: 25px;
}

#project_container {
    text-align: center;
    margin: auto;
    max-width: 900px;
}

#individual {
    display: inline-block;
    overflow: hidden;
}